<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link  @(ViewBag.Title == "Overview" ? "active" : "")" href="./Index">Overview</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link border-success @(ViewBag.Title == "Install" ? "active" : "")" style="border: 2px solid;" href="./Install">Install</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.Title == "Wiki" ? "active" : "")" href="./Wiki">Wiki</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.Title == "Files" ? "active" : "")" href="./Files">Files</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.Title == "History" ? "active" : "")" href="./History">History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.Title == "Management" ? "active" : "")" href="./Management">Project - Addon Dev Only (Pull requests, tasks, issue tracker)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.Title == "Discussion" ? "active" : "")" href="./Discussion">Discussion</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.Title == "IssueTracker" ? "active" : "")" href="./IssueTracker">Issue Tracker</a>
    </li>
</ul>